# Chaves de API para os Modelos de Linguagem
GOOGLE_API_KEY=sua_chave_do_google_aqui
GROQ_API_KEY=sua_chave_do_groq_aqui

# Conexão com o Banco de Dados MongoDB para Persistência de Conversas
MONGODB_URI=mongodb://localhost:27017
