langgraph
langgraph-checkpoint-mongodb
langchain
langchain-core
langchain-google-genai
langchain-groq
langchain-mcp-adapters==0.3.2
mcp==1.29.1
pymongo
pydantic-settings
httpx
python-dotenv
pytest
pytest-cov
ruff
fastapi
uvicorn
langchain-community
langchain-text-splitters
faiss-cpu
pypdf
redis
cryptography
certifi
pytest-asyncio
